<h1>Pages#home</h1>
<h2>Hello <%= current_user.first_name %> <%= current_user.last_name %></h2>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>POSTS</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>

<p><%= current_user.class %></p>